<h1>Burgers</h1>

<h3>Eat the Burger</h3>

<ul>
  {{#each burgers}}
  	   <p>{{this.id}}</p>
       <p>{{this.burger_name}}</p>
  {{/each}}
</ul>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/if}}
  {{/each}}
</ul>


<h3>Add Mo Burgers</h3>
<div class="create-form">
  <form action="/" method="POST">
  	<textarea type="text" name="burger_name"></textarea>

  	<button type="submit">Submit</button>
  </form>
</div>